.attendance-stats {
	min-width: 1025px;
	.row{
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.span-heading {
			flex: .6;
			padding: 0px;
		}
		.select-style {
			padding: 0px;
			display: flex;
			align-items: center;
			.span-title {
				flex: 1;
				margin-right: 7px;
				text-align: right;
			}
			select {
				flex: .6;
				box-shadow: 
					0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 
					0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 
					0 0.25rem 0.53125rem rgba(4,9,20,0.05), 
					0 0.125rem 0.1875rem rgba(4,9,20,0.03);
			}


		}
	}
	.card-container {
		// box-shadow: 0px 1px 22px -12px #607D8B;
		box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
		.chart-container {
			// background: #2b2b2b;
			padding: 10px;
	
			canvas {
				height: 100%;
				min-height: 300px;
			}
		}
	}
}
		




@-moz-document url-prefix() {
	select.form-control {
			padding-right: 25px;
	background-image: url("../../../../assets/images/drop-down-arrow.svg");
			background-repeat: no-repeat;
			background-position: calc(100% - 7px) 50%;
			-moz-appearance: none;
			appearance: none;
	}
}



// box-shadow: 0px 1px 22px -12px #607D8B;

// box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03)