.row{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	.span-heading {
		flex: .6;
		padding: 0px;
	}
	.select-style {
		padding: 0px;
		display: flex;
		align-items: center;
		.span-title {
			flex: 1;
			margin-right: 7px;
			text-align: right;
		}
		select {
			flex: .6;
		}
	}

	.chart-container {
		// background: #2b2b2b;
		padding: 10px;

		canvas {
			height: 100%;
			min-height: 300px;
		}
	}

}

@-moz-document url-prefix() {
	select.form-control {
			padding-right: 25px;
	background-image: url("../../../../assets/images/drop-down-arrow.svg");
			background-repeat: no-repeat;
			background-position: calc(100% - 7px) 50%;
			-moz-appearance: none;
			appearance: none;
	}
}