<div class="attendance-stats">
  <div class='header'>
    <h2>
      Attendance Statistics 
    </h2>
  </div>
  <hr>

  <div class="row p-3 ">
      <span class='span-heading col-md-9'><h4>Monthly Attendance</h4></span>
      <div class="col-md-3 select-style">
        <span class="span-title ">Select Month: </span>
        <select class=" form-control"
              [(ngModel)]='selectedMonth' name='year' required
              (change)="getAllEmployeeForSelectedMonth()">
          <option value="" disabled="true" hidden>Select month</option>
          <option *ngFor="let month of months" [ngValue]="month">{{month.name}}</option>
        </select>
      </div>
  </div>

  <div class="row">
    <div class="col col-sm-3" >
        <div class="card  mb-3 card-container">
            <div class="card-body" class="chart-container">
                <canvas id="pieChartMonthly"></canvas>
            </div>
        </div>
    </div>
    <div class="col col-sm-9" >
        <div class="card  mb-3 card-container">
            <div class="card-body" class="chart-container">
                <canvas id="lineChartMonthly"></canvas>
            </div>
        </div>
    </div>
  </div>

  <div class="row p-3">
    <span class='span-heading col-md-9'><h4>Yearly Attendance </h4></span>
    <div class="col-md-3  select-style">
        <span class="span-title">Select Year: </span>
        <select class=" form-control"
                [(ngModel)]='selectedYear' name='year' required
                (change)="getYearReportForAllEmployees()">
            <option value="" disabled="true" hidden>Select year</option>
            <option *ngFor="let year of years" [ngValue]="year">{{year.year}}</option>
        </select>
    </div>    
  </div>  

  <div class="row">
    <div class="col col-sm-3" >
        <div class="card  mb-3 card-container">
            <div class="card-body" class="chart-container">
                <canvas id="pieChartYearly"></canvas>
            </div>
        </div>
    </div>
    <div class="col col-sm-9" >
        <div class="card  card-container mb-3">
            <div class="card-body" class="chart-container">
                <canvas id="lineChartYearly"></canvas>
            </div>
        </div>
    </div>
  </div>  
</div>

