.visitor-history-modal {

  .modal-body {
    padding: 1rem 2rem;
    .avatar > img {
      height: 80px;
    }

    .report-data {
      margin-top: 1rem;
    }
  }
}

::ng-deep .modal-xl-custom {
  .modal-dialog {
    max-width: 90%;
    width: 90%;
  }
}
