// $topnav-background-color: #222;
$topnav-background-color: #dedede;

:host {
    .navbar {
        // padding: 35px;
        border-bottom: 2px solid black;
        background-color: $topnav-background-color;
        .navbar-brand {
            color: black;
            max-width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            // color: white;
            width: 70%;
            img {
                height: 34px;
                padding-left: 30px;
            }
        }   
        .navbar-toggler {
            padding-right: 0;
        }
        
        
        .nav-item > a {
            // color: white;    
            color: black;
            &:hover {
                color: black;
                // color: grey;
            }
        }

        .logo-style {        
            span {
                color: #75807a;
                font-style: italic;
                padding-right: 6px;
            }
        }

        .navbar-nav {
            .dropdown-toggle::after {
                display:none;
            }   
            i.fa-user-circle {
                font-size: 25px;
            } 
            .dropdown-menu {
                position: absolute;
            }
        }
    }   
    
}
.dropdown-menu[x-placement="bottom-right"] {
    right: 0;
    left: auto;
}