// $topnav-background-color: #222;
$topnav-background-color: #dedede;

:host {
    
    
    .navbar {
        // padding: 35px;
        border-bottom: 2px solid black;
        background-color: $topnav-background-color;
        .navbar-brand {
            color: black;
            // color: white;
            margin-left: 3em;
        }
        
        
        .nav-item > a {
            // color: white;
            color: black;
            &:hover {
                color: black;
                // color: grey;
            }
        }
        .logo-style {
            padding-left: 25em;
        }
    }
    
    // .messages {
    //     width: 300px;
    //     .media {
    //         border-bottom: 1px solid #ddd;
    //         padding: 5px 10px;
    //         &:last-child {
    //             border-bottom: none;
    //         }
    //     }
    //     .media-body {
    //         h5 {
    //             font-size: 13px;
    //             font-weight: 600;
    //         }
    //         .small {
    //             margin: 0;
    //         }
    //         .last {
    //             font-size: 12px;
    //             margin: 0;
    //         }
    //     }
    // }
}
.dropdown-menu[x-placement="bottom-right"] {
    right: 0;
    left: auto;
}