$topnav-background-color: #fff;
// $topnav-background-color: #dedede;

:host {
    .navbar {
        box-shadow: 6 0.46875rem 0.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 21.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        min-height: 105px;
        border-bottom: 1px solid rgba(0,0,0,.2);
        background-color: $topnav-background-color;
        .navbar-brand {
            color: black;
            max-width: 85%;
            overflow: hidden;
            text-overflow: ellipsis;
            // color: white;
            width: 80%;
            img {
                height: 34px;
                padding-left: 30px;
            }
        }   
        .navbar-toggler {
            padding-right: 0;
        }
        
        
        .nav-item > a {
            // color: white;    
            color: black;
            &:hover {
                color: black;
                // color: grey;
            }
        }

        .logo-style {        
            span {
                color: #75807a;
                font-style: italic;
                padding-right: 6px;
            }
        }

        .navbar-nav {
            .dropdown-toggle::after {
                display:none;
            }   
            i.fa-user-circle {
                font-size: 25px;
            } 
            .dropdown-menu {
                position: absolute;
            }
        }
    }   
    
}
.dropdown-menu[x-placement="bottom-right"] {
    right: 0;
    left: auto;
}


