<nav class="navbar navbar-expand-lg fixed-top">
    <span class='navbar-brand'>Facial Recognition Based Attendance Management System</span>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <div class="logo-style">
            <span> Powered By </span>
            <img src='../../../../assets/images/Awiros_logo.svg'>
        </div>
        <ul class="navbar-nav ml-auto">                
            <li class="nav-item dropdown" placement="bottom-right" ngbDropdown >
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle >
                    <i class="fa fa-user-circle"></i>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu> 
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                    </a> -->
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                </div>
            </li>
        </ul>
        
    </div>
</nav>
