<nav class="navbar navbar-expand-lg d-flex justify-content-space fixed-top">
    <span class='navbar-brand'><img src='../../../../assets//images/fram_logo.png'></span>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="navbar-collapse d-flex">
        <!-- <div class="logo-style">
            <span> Powered By </span>
            <img src='../../../../assets/images/Awiros_logo.svg'>
        </div> -->
        
        <!-- <button mat-stroked-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu> -->

        <ul class="navbar-nav ml-auto">                
            <li class="nav-item dropdown" placement="bottom-right" ngbDropdown >
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle >
                    <i class="fa fa-user-circle"></i>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu> 
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                    </a> -->
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                </div>
            </li>
        </ul>
        
    </div>
</nav>
