<div class="row header">
    <div class='header'>
        <h2>
            Client View 
        </h2>
    </div>
    <hr>

    <!-- <div class="col-md-12 col-sm-12 d-flex">
      <img src="assets/images/awiros_logo_reg.svg" alt="Avatar">
      
      <ul class="navbar-nav ml-auto">                
            <li class="nav-item dropdown" placement="bottom-right" ngbDropdown >
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle >
                    <img src="assets/images/user-icon.png" />
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu> 
                    <a class="dropdown-item" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                </div>
            </li>
        </ul> 
        
    </div> -->
</div>
