<!-- <div class='row'>
  <div class='column'>
      <div class='chart-container '>
        <canvas id="pieChart"></canvas>
      </div>
  </div>
              
  <div class='column'>
      <div class='chart-container '>
        <canvas id="lineChart"></canvas>
      </div>
  </div>
</div>   -->

<div class="row">
  <div class="col col-sm-12" >
      <div class="card mb-3">
          <div class="card-body" class="chart-container">
              <canvas id="pieChart"></canvas>
              <canvas id="lineChart"></canvas>
          </div>
      </div>
  </div>
  <!-- <div class="col col-sm-6" >
      <div class="card mb-3">
          <div class="card-body" class="chart-container">
              <canvas id="lineChart"></canvas>
          </div>
      </div>
  </div> -->
  
</div>  