<!-- <div class='row'>
  <div class='column'>
      <div class='chart-container '>
        <canvas id="pieChart"></canvas>
      </div>
  </div>
              
  <div class='column'>
      <div class='chart-container '>
        <canvas id="lineChart"></canvas>
      </div>
  </div>
</div>   -->
<div class="attendance-stats">
  <div class='header'>
    <h2>
      Attendance Statistics 
    </h2>
  </div>
  <hr>

  <div class="row p-3">
    <div class="col-6 col-lg-6">
      <h4>Monthly Attendance </h4>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3" >
        <div class="card mb-3 ">
            <div class="card-body" class="chart-container">
                <canvas id="pieChartMonthly"></canvas>
            </div>
        </div>
    </div>
    <div class="col col-sm-9" >
        <div class="card mb-3">
            <div class="card-body" class="chart-container">
                <canvas id="lineChartMonthly"></canvas>
            </div>
        </div>
    </div>
  </div>  
  
  <div class="row p-3">
    <div class="col-6 col-lg-6">
      <h4>Yearly Attendance </h4>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-3" >
        <div class="card mb-3 ">
            <div class="card-body" class="chart-container">
                <canvas id="pieChartYearly"></canvas>
            </div>
        </div>
    </div>
    <div class="col col-sm-9" >
        <div class="card mb-3">
            <div class="card-body" class="chart-container">
                <canvas id="lineChartYearly"></canvas>
            </div>
        </div>
    </div>
  </div>  
</div>


<!-- remove card border  add -> border-0 to card -->
