

.emp-detail{
  padding-bottom: 10px;
  .emp-card {
    border-radius: 8px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    .emp-body {
      min-height: 110px;
      padding: 5px 25px;  
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      // border-bottom: 2px solid #bbb;
    
      .column {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        > div {
          padding: 10px 0px;  
        }
      }

      .column.action div{
        display: flex;
        justify-content: center;
        button {
          height: 30px;
          padding: 3px 7px 1px 7px;
        } 
      }
    
      .column.avatar {
        flex: 0.5;
        align-items: center;  

        position:relative;
        // padding-top:20px;
        // display:inline-block;
        .notify-badge{
          position: absolute;
          left: 27px;
          width: 20px;
          height: 20px;
          bottom: 0px;
      }
      .profile {
          border-radius: 8px;
          width: 60px;
          height: 60px;
        }
      }
      
      .badges.auto {
        span {
          min-width: 54.9px;  
        }
      }
    }

    // .emp-body.manual-attendance {
    //   background-color: gainsboro;
    // }
  }
}



.report {
  padding: 8px 25px;  
  .d-flex {
    padding: 8px 17px;
    
    .column.avatar {
      display: flex;
      flex: 0.07; 
      img {
        border-radius: 8px;
        width: 60px;
        height: 60px;
      }
    }
    .column {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      > div {
        padding: 9px 0px;
      }
    }
    .report-data {
      margin-top: 20px;
    }
  }
}

.modal-footer {
  .btn-outline-dark {
    border-radius: 0;  
    width: 100px;   
    margin-right: 9px;
    &:hover {
      background-color: white;
      color:#343a40;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }       
  }
}

// [_nghost-c12]  instead of ng-deep

::ng-deep .modal-xl-custom {
  .modal-dialog {
    // overflow-y: initial !important;
    max-width: 90%; 
    width: 90%;
  }

  // .modal-body{
  //   overflow-x: hidden;
  //   max-height: calc(100vh - 200px);
  //   overflow-y: auto;
  // }

  // @media only screen and (max-width: 1250px) {
  //   .modal-body{
  //     overflow-x: auto;
  //   }
  // }
}

  