.emp-detail{
  padding-bottom: 10px;

  .emp-card {
    border-radius: 8px;
    box-shadow: 
      0 5px 4px -4px rgba(0, 0, 0, 0.2), 
      0 5px 9px 1px rgba(0, 0, 0, 0.14), 
      0 3px 10px 2px rgba(0, 0, 0, 0.12);

    .emp-body {
      min-height: 110px;
      padding: 5px 25px;  
      display: flex;
      flex-direction: row;
      border-radius: 8px;
    
      .column {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        > div {
          padding: 10px 0px;  
        }
      }

      .column.action div{
        display: flex;
        justify-content: center;

        button {
          height: 30px;
          padding: 3px 7px 1px 7px;
        } 
      }
    
      .column.avatar {
        img {
          cursor: pointer;
        }
        > div {
          position: relative;
        }
        flex: 0.5;
        align-items: center;  
        position:relative;

        .notify-badge{
          position: absolute;
          left: -8px;
          width: 20px;
          height: 20px;
          bottom: 2px;
      }
      .profile {
          border-radius: 8px;
          width: 60px;
          height: 60px;
        }
      }
      
      .badges.auto {
        span {
          min-width: 54.9px;  
        }
      }
    }
  }
}

.report {
  padding: 8px 25px;  

  .d-flex {
    padding: 8px 17px;
    .column.avatar {
      display: flex;
      flex: 0.07; 

      img {
        border-radius: 8px;
        width: 60px;
        height: 60px;
      }
    }

    .column {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      > div {
        padding: 9px 0px;
      }
    }

    .report-data {
      margin-top: 20px;
    }
  }
}

.modal-footer {
  .btn-outline-dark {
    margin-right: 9px;

    &:hover {
      background-color: white;
      color:#343a40;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }       
  }
}

.img-comparison {
  .img-report {
    display: flex;  
    justify-content: space-around;

    .column.avatar {
      .registered-photos-slider {
        position: relative;
        a {
          position: absolute;
          width: 20px;
          height: 100%;
          justify-content: center;
          display: flex;
          align-items: center;
          background-color: #d6d6d68c;
          top: 0;
          cursor: pointer;
        }

        a:hover {
          background-color: #d6d6d6b8;
        }

        a:nth-of-type(1) {
          left: 0;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
        }

        a:nth-of-type(2) {
          right: 0;
          border-bottom-left-radius: 12px;
          border-top-left-radius: 12px;
        }
      }
      padding: 0 10px;
      
      > div:nth-child(1) {
        padding-bottom: 15px;
      }
      img {
        height: 265px;
      }
    }
  }
}

::ng-deep .modal-xl-custom {
  .modal-dialog {
    max-width: 90%; 
    width: 90%;
  }
}


  