<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/todays-report']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-file"></i>&nbsp;
            <span>{{ 'Today\'s Report' }}</span>
        </a>
        <a [routerLink]="['/emp-attendance-record']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-history"></i>&nbsp;
            <span>{{ 'Attendance Record' }}</span>
        </a>
        <a [routerLink]="['/attendance-stats']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-bar-chart"></i>&nbsp;
            <span>{{ 'Attendance Stats' }}</span>
        </a>
        <a role="button" class="list-group-item" (click)="openVerticallyCentered(content)">
            <i class="fa fa-fw  fa-registered"></i>&nbsp;
            <span>{{ 'Register' }}</span>
        </a>
        <hr >
        <!-- Links
        https://codecraft.tv/courses/angular/forms/model-driven-validation/ 
        https://www.intertech.com/Blog/angular-reactive-forms-tutorial/
        https://www.techiediaries.com/angular-formdata/
        -->

        <!-- modal -->    
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Register Objects</h4>
                
            </div>
            <div class="modal-body">
                <!-- (ngSubmit)='registerForm.form.valid && onSubmit()' -->
              <div class="container">
                  <form class="register-object" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
                    <div class="row">
                      <div class="col-md-12" >
                        <label for="uploadImage" class='forLabel'>Upload Image<span class="required"> *</span></label>
                        <button ngfSelect type="button" class="btn btn-default not-focusable" [(files)]="files"                         
                            accept="image/*" multiple="1" required>
                            Browse
                        </button>                           
                        
                        <!-- <ngfFormData
                        [files]      = 'files'
                        [(FormData)] = 'registerForm'
                        postName     = "file"
                        ></ngfFormData> -->
                        <!-- 
                        
                        <ngfUploadStatus
                        [(percent)] = "uploadPercent",
                        [httpEvent] = "httpEvent"
                        ></ngfUploadStatus> -->
                        
                        <!-- <div *ngIf="uploadPercent">
                        Upload Progress: {{ uploadPercent }}%
                        </div> -->
                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" >
                        <label for="label" class='forLabel'>Label<span class="required"> *</span></label>
                        <input type="text" autocomplete="off" placeholder="Give a label to an object" class="form-control" name='lebel' id='lebel' formControlName="label" 
                            [ngClass]="{ 'is-invalid': registerFormSubmitted && label.invalid }" required>                            
                        <div *ngIf="registerFormSubmitted && label.invalid" class="invalid-feedback">
                            <div *ngIf="label.errors['required']">Label is required</div>
                        </div>                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" >
                        <label for="subClass" class='forLabel'>Subclass<span class="required"> *</span></label>
                        <input type="text" autocomplete="off" placeholder="categories object in subclasses" class="form-control" formControlName="subClass" name='subClass' id='subClass'
                          [ngClass]="{ 'is-invalid': registerFormSubmitted && subClass.invalid }" required>
                        <div *ngIf="registerFormSubmitted && subClass.invalid" class="invalid-feedback">
                            <div *ngIf="subClass.errors['required']">Subclass is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" >
                        <label for="Severity" class='forLabel'>Severity<span class="required"> *</span></label>
                        <select class="form-control" formControlName="severity" name='severity' id='severity'
                           [ngClass]="{ 'is-invalid': registerFormSubmitted && severity.invalid }"  required>
                          <!-- <option [value]="" selected disabled >Select Severity</option> -->
                          <option *ngFor="let s of severityOption let i = index" ngValue="s.value">{{severityOption[i].id}}</option>
                          
                        </select>
                        <div *ngIf="registerFormSubmitted && severity.invalid" class="invalid-feedback">
                            <div *ngIf="severity.errors['required']">Severity is required</div>
                        </div> 
                      </div>
                    </div>
                    <div class="footer-btn">
                      <button type="button" class="btn btn-outline-dark not-focusable " (click)="modal.close('Close click'); " >Close</button>
                      <button type="submit" class="btn btn-dark" >Register</button>
                    </div> 
                  </form>
              </div>                  

            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark not-focusable " (click)="modal.close('Close click')" >Close</button>
                <button type="button" class="btn btn-dark" disabled >Close</button>
            </div> -->
        </ng-template>

        <div class="p-3 d-flex justify-content-center">
            <button class="btn btn-outline-secondary" (click)="openVerticallyCentered(content)">Register</button>
        </div>        

        <!-- <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
          
        </div> -->
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
