<div class="visitor-col-header">
    <mat-card>
        <span>
            <img class="left-icon" src="https://dashboard.awiros.com:3002/uploads/Group 564.png">
            Arrived Visitors
        </span>
        <i class="fa fa-bookmark-o top-badge"></i>
        <div class="heading-bar"></div>
    </mat-card>
</div>

<div class="visitor-col-body">

    <mat-card class="person-card" *ngFor="let visitor of visitorList">

        <mat-card-header>
            <mat-card-title>{{visitor.name}}</mat-card-title>
            <mat-card-subtitle class="entry-time">{{visitor.entryTime | date: 'shortTime'}}</mat-card-subtitle>
            <mat-card-subtitle class="location">{{visitor.location}}</mat-card-subtitle>
            <img mat-card-avatar src="{{visitor.photo}}" alt="Photo of a Shiba Inu">
        </mat-card-header>

        <mat-card-content>
            <p>
                <span>Here to Visit: </span>
                {{visitor.hereToVisit}}
            </p>
            <p>
                <span>Purpose of Visit: </span>
                {{visitor.purposeOfVisit}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="viewHistory(visitor)" >View History</button>
        </mat-card-actions>

    </mat-card>

</div>


