.visitor-col-header {
  margin-bottom: 20px;


  .mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      display: flex;
      align-items: center;

      img {
        margin-right: 8px;
      }
    }

    .left-icon {
      height: 20px;
    }

    .top-badge {
      position: absolute;
      top: 0;
      right: 0;
      color: #dd3cfd;
    }

    .heading-bar {
      width: 30%;
      background-color: #dd3cfd;
      color: #fff;
      padding: 3px;
      border-radius: 3px;
    }
  }


}

.visitor-col-body {
  .person-card {
    margin-bottom: 1rem;

    .mat-card-header {
      margin-bottom: 10px;

      img.mat-card-avatar {
        height: 100px;
        width: 100px;
        border-radius: 4px;
      }

      .mat-card-title {
        font-size: 16px;
      }

      .mat-card-subtitle.entry-time {
        margin-bottom: 8px;
      }

      .mat-card-subtitle.location {
        margin-bottom: 0px;
      }
    }

    .mat-card-content {
      > p {
        margin-bottom: 8px;

        > span {
          font-weight: 600;
        }
      }
    }
  }
}
