<div class="modal-header">
  <h4 class="modal-title">{{isEditMode ? 'Update' : 'New'}} Registration</h4>
</div>
<div class="modal-body">
<div class="container"> 

  <form class="register-object" [formGroup]="registerForm" (ngSubmit)="onSubmit()"> 
    <div class="capture-image" *ngIf='showCameraView'>
        <app-camera (pictureTaken)="handleImage($event)"></app-camera>
    </div>
    <div class="snapshotList" *ngIf="webcamImages">
      <mat-grid-list cols="4">        
        <mat-grid-tile *ngFor="let webcamImg of webcamImages">
            <button class="btn btn-danger remove-image" placement="top" ngbTooltip="Delete Image" (click)="removeImage('webcamImages', webcamImg)">
                <i class="fa fa-close" aria-hidden="false"></i>
              </button>            
            <img [src]="webcamImg.original.imageAsDataUrl" style="object-fit: cover; height: inherit; width: inherit;" />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="snapshotList" *ngIf="files">
      <mat-grid-list cols="4" >
        <mat-grid-tile *ngFor="let file of files">
            <button class="btn btn-danger remove-image" placement="top" ngbTooltip="Delete Image" (click)="removeImage('files', file)">
                <i class="fa fa-close" aria-hidden="false"></i>
              </button>            
            <div [ngfBackground]="file" style="background-size:cover;background-repeat:no-repeat;width:110px;height:110px"></div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- <div *ngFor='let img of webcamImages'>
      <img [src] ='img.original.imageAsDataUrl' >
    </div> -->
    
    <div class="row form-data">
      <div class="col-md-12" >                        

        <label for="uploadImage" class='forLabel'>Upload Image<span class="required"> *</span></label>
        <button ngfSelect type="button" class="btn btn-default not-focusable" [(files)]="files"
            accept="image/*" multiple="1" required>
            Browse
        </button>
        <button type="button" class="btn btn-default not-focusable" (click)='toggleCamera()' >
            {{showCameraView ? 'Close' : 'Open'}} Camera
        </button>
      <!-- <div class="invalid-feedback" [ngClass]="{ 'd-block': registerFormSubmitted && (!files && !webcamImages.length)}">
          <div>Atleast 1 file is required</div>
      </div> -->

        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <label for="label" class='forLabel'>Name<span class="required"> *</span></label>
        <!-- <input type="text" autocomplete="off" placeholder="Enter your name" class="form-control" name='lebel' id='lebel' formControlName="label" 
            [ngClass]="{ 'is-invalid': registerFormSubmitted && label.invalid }" required>                             -->
        <input type="text" autocomplete="off" placeholder="Enter your name" class="form-control" name='lebel' id='lebel' formControlName="label" 
          required>                            
        <!-- <div *ngIf="registerFormSubmitted && label.invalid" class="invalid-feedback">
            <div *ngIf="label.errors['required']">Name is required</div>
        </div>                         -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" >
        <label for="subClass" class='forLabel'>Department<span class="required"> *</span></label>
        <input type="text" autocomplete="off" placeholder="Enter your department" class="form-control" formControlName="subClass" name='subClass' id='subClass'
          required>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12" >
        <label for="email" class='forLabel'>Email<span class="required"> *</span></label>
        <input type="text" autocomplete="off" placeholder="Enter your email" class="form-control" formControlName="email" name='email' id='email'
          [ngClass]="{ 'is-invalid': registerFormSubmitted && email.invalid }" required>
        <div *ngIf="registerFormSubmitted && subClass.invalid" class="invalid-feedback">
            <div *ngIf="subClass.errors['required']">Email is required</div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12" >
          <label for="email" class='forLabel'>Site<span class="required"> *</span></label>
          <select id="site" class="form-control" name="site" formControlName="email" [ngClass]="{ 'is-invalid': registerFormSubmitted && email.invalid }" required>
              
              <option value="undefined"  selected disabled >Select Site</option>
              <option value="small">small</option>
              <option value="medium">medium</option>
              <option value="large">large</option>
          </select> 
          <div *ngIf="registerFormSubmitted && subClass.invalid" class="invalid-feedback">
              <div *ngIf="subClass.errors['required']">Email is required</div>
          </div>
        </div>
      </div> -->
    
    
    <div class="footer-btn">
      <button type="button" class="btn btn-outline-dark not-focusable " (click)="activeModal.close('Close click')" >Close</button>
      <button type="submit" class="btn btn-dark" [disabled]="registerForm.invalid || !(files || webcamImages.length)" >{{isEditMode ? 'Update' : 'Register'}}</button>
    </div> 
  </form>
</div>    
</div>