<div class="emp-detail" >
    <div class='column avatar'>
        <img src="https://www.tutorialrepublic.com/examples/images/avatar/1.jpg" alt="Avatar">
        <!-- <img src='{{employee.photo}}' alt="Avatar"> -->
    </div>
    <div class='column'>
        <div>Employee Name: {{employee.name}}</div>
        <div>Department:</div>
    </div>
    <div class='column'>
        <div>Entry From:</div>
        <div>Entry Time: {{employee.inTime | date: 'yyyy/MM/dd h:mm:ss a'}}</div>
    </div>
    <div class='column action'>
        <div>Yearly Attendance:</div>
        <!-- <div><button class="btn btn-outline-primary" >View Record</button></div> -->
        <div><button class="btn btn-outline-primary" (click)="openVerticallyCentered(content)">View Record</button></div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Employee Report</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button> 
    </div>
    <div class="modal-body report">
        <div class="d-flex">
            <div class='column avatar'>
                <img src="https://www.tutorialrepublic.com/examples/images/avatar/1.jpg" alt="Avatar">
            </div>
            <div class='column'>
                <div>Employee Name: {{employee.name}}</div>
                <div>Department:</div>
            </div>            
        </div>
        <div class="report-data">
            <app-yearly-report [empId]='employee.id'></app-yearly-report>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
