<td>1</td>
<td><a href="#"><img src="https://www.tutorialrepublic.com/examples/images/avatar/1.jpg" class="avatar" alt="Avatar"> {{employees.name}} </a></td>
<td>04/10/2013</td>                        
<td>Admin</td>
<td><span class="status text-success">&bull;</span> Active</td>
<td>
    <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
    <!-- <a routerLink="/attendance/employees/1" class="delete" title="Delete" data-toggle="tooltip"> View Record</a> -->
    <a class="delete" title="Delete" data-toggle="tooltip"> View Record</a>
</td>

<div class="row">
    <div class="col-md-6 blue">
        <div class="row">
            <div class="col-md-12 short-div border" style="background-color:lavender;">1</div>
            <div class="col-md-12 short-div border" style="background-color:green;">3</div>
        </div>
    </div>
    <div class="col-md-6 green tall-div border" style="background-color:red;">2</div>
</div>
<div class="row">
  <div class="col-md-6 short-div green border" style="background-color:black;">4</div>
  <div class="col-md-6 short-div blue border" style="background-color:yellow;">5</div>
</div>