

.emp-detail {
  padding: 5px 25px;  
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #bbb;

  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    > div {
      padding: 10px 0px;
    }
  }

  .column.avatar {
    flex: 0.3;
    align-items: center;  
    img {
      width: 60px;
    }
  }
}

.modal-style {
  .report {
    .report-data {
      margin-top: 20px;
    }
  }
  
  
}

::ng-deep .modal-xl-custom {
  .modal-dialog {
    max-width: 90%;
    width: 90%;
  }
}

