:host { 
    // background-color: #fff; 
} 
.live-stream-container {
    height: 100%;
    background-color: #fff; 
    // box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.2), 0 5px 9px 1px rgba(0, 0, 0, 0.14), 0 3px 10px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .selectedCam{
        margin-left: auto;
        padding: 10px; 
        width: 215px;
        select{
            cursor: pointer;
        }
    }

    .live-stream { 
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 0 30px; 
        margin-top: 2em;
        img { 
            width: 80%;
            min-height: 301px;
            border: 1px solid; 
        }
    }
}

@-moz-document url-prefix() {
	select.form-control {
			padding-right: 25px;
	background-image: url("../../../../../assets/images/drop-down-arrow.svg");
			background-repeat: no-repeat;
			background-position: calc(100% - 7px) 50%;
			-moz-appearance: none;
			appearance: none;
	}
}