<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#"><span class='span'>Facial Recognition Based Attendance Management System</span>  </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">    
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form> -->
        <div class="logo-style">
            <img src='../../../../assets/images/Awiros_logo.svg'>
        </div>
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item dropdown" ngbDropdown >
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle >
                    <i class="fa fa-user-circle">   John John</i><b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu> 
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>

        <!-- <div class="col text-right">
            <div ngbDropdown placement="top-right" class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-user-circle">John John</i><b class="caret"></b></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div> -->

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown" dropdown placement="bottom right">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                  <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                  <div class="dropdown-header text-center"><strong>Account</strong></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                  <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                  <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                  <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
                  <div class="dropdown-header text-center"><strong>Settings</strong></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
                  <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                  <div class="divider"></div>
                  <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                </div>
              </li>
        </ul>
    </div>
</nav>
