.todays-attendance {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-style {
            display: flex;
            align-items: center;
            font-size: 18px;
            h2 {
                padding-right: 15px;
            }
        }
    }

    .div-as-btn {
        color:#444;
        cursor:pointer;
        
        .selected-tab {
            border: 1px solid #212529;
        }
        &:active {
            padding: 0px;  
            box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
        }
        &:hover {
            box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);   
        }
    }
    
    .search-bar{
        display: flex;
        margin-right: 16px;
        justify-content: flex-end;
    }

    .all-employee {
        margin-left: 16px;
        margin-right: 17px;

        .mat-form {
            display: flex;
            justify-content: space-between;
        }

        mat-table {
            mat-header-cell.mat-header-img {
                justify-content: center;
              }
            mat-cell.mat-cell-img {
                justify-content: center ;
                img{
                    width: 50px;
                    height: 50px;
                    padding: 4px;
                }
            }
            mat-header-cell.mat-header-yearly-attendance {
                padding-left:6px ;
            }
            mat-cell.mat-cell-yearly-attendance {
                padding-left:6px ;  
                .btn {
                    display: block;
                    height: 30px;
                    padding: 3px;
                    min-width: 58px;
                    border-radius: 0 !important;
                }
            }
            mat-cell.p {
                .square {
                    border: 6px solid green;
                    margin-left: 10px;
                }
            }
            mat-cell.a {
                .square {
                    border: 6px solid red;
                    margin-left: 10px;
                }
            }
        }

        
    }
}

.report {
    padding: 8px 25px;  
    .d-flex {
      padding: 8px 17px;
      
      .column.avatar {
        display: flex;
        flex: 0.07; 
        img {
          width: 60px;
          height: 60px;
        }
      }
      .column {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        > div {
          padding: 9px 0px;
        }
      }
      .report-data {
        margin-top: 20px;
      }
    }
}









