// a{
//   display:block;
//  }
.cursor-pointer {
    cursor: pointer;
}

.header {
	display: flex;
	/*border-bottom: 2px solid #bbb;*/
}

.header-style {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 18px;

    h2 {
    	padding-right: 15px;

    }
}
