.todays-attendance {

    .header {
        display: flex;

        .header-style {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
            font-size: 18px;
        
            h2 {
                padding-right: 15px;
        
            }
        }
    }

    .div-as-btn {
        color:#444;
        cursor:pointer;
        
        .selected-tab {
            border: 1px solid #212529;
        }
        &:active {
            padding: 0px;  
            box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
        }
        &:hover {
            box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);   
        }
    }
    
    .search-bar{
        margin-right: 7px;
        padding-bottom: 15px;
        input{
            margin: auto;
        }
    }
}

table {
    width: 100%;
  }









