.emp-list-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    // border-bottom: 1px solid #bbb;

    .column {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .column.heading {
        flex: .7;
    }
    .column.filters {
        flex: 1.5;        
        > * {
                margin-right: 7px;
            }
            
        // div {
        //     width: 140px;
        //     height: 25px;
        //     border-radius: 8px;
        //     box-shadow: 0 2px 3px 0 rgba(150,118,118,.05);
        //     border: 1px solid rgba(0,0,0,.15);
        //     background-color: #fff;
        //     padding-left: 10px;
        //     vertical-align: middle;
        //     font-family: Roboto;
        //     font-size: 13px;    
        // }
        
    }
    .column.sort {
        justify-content: center;
        > * {
            margin-right: 7px;
        }
    }
    .column.action {
        flex: 0.4;
        justify-content: flex-end;
    }

    mat-form-field{
        width: 110px;
    }
}
