<nav class="sidebar" id="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/todays-report']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa fa-file"></i>&nbsp;
            <span>{{ 'Today\'s Report' }}</span>
        </a>
        <a [routerLink]="['/attendance-stats']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw  fa-bar-chart"></i>&nbsp;
            <span>{{ 'Attendance Stats' }}</span>
        </a>
        <a [routerLink]="['/tab-attendance']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw  fa-tablet "></i>&nbsp;
          <span>{{ 'Tab View' }}</span>
        </a>
        <a  role="button" class="list-group-item" (click)="openVerticallyCentered()">
            <i class="fa fa-fw  fa-registered"></i>&nbsp;
            <span>{{ 'New Registration' }}</span>
        </a>
        <hr >        
        
    </div>
    <!-- <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div> -->
</nav>
